<div class="m-auto w-4/5 scrollable">
   
    <form action="/postUpdateMarksFaculty" method="post" name="uploadMarksForm" onsubmit="return validateForm()">
        <%if(messages.error){%>
        <span class="text-red-500 text-sm"><%= messages.error%></span>
        <%}%>
        <div class="container">
            <div class="flex">
                <h2 class="mr-2"><b>Registration Number : </b></h2>
                <h2><%=stud.registrationNumber%></h2> 
            </div>
          
            <div class="flex">
                 <h2 class="mr-2"><b>Name : </b></h2>
                 <h2><%=stud.Name%></h2> 
            </div>
         
            <div class="flex mb-4">
                <h2 class="mr-2"><b>Exam Type : </b></h2>
                <h2><%=examType%></h2>
            </div>
          

          <%marksWithSubject.forEach((m)=>{%>
            <div class="flex items-center justify-between w-full mb-2 px-3 rounded-md bg-white">

                    <input type="text" name="subjectCode" value="<%=m.subjectCode%>" class="font-bold inputMargin" readonly>
                
                    <input type="text" name="subjectName" value="<%=m.subjectName%>"  class="font-bold inputMargin" readonly>
                
                    <input type="text" name="mark" placeholder="0" value="<%=m.mark%>" id="mark" class="font-bold bgG inputMargin" required>
                
            </div>
          <%})%>

          <button type="submit" class="registerbtn" name="uploadBtn">Update</button>
        </div>
    </form>
</div>
